<!DOCTYPE html>
<html>
<head>
	<title>Demos</title>
	<link rel='stylesheet' href='/bower_components/pure/pure-min.css'>
	<!-- Use the demos stylesheet -->
	<link rel='stylesheet' href='style.css'>

</head>

<body>
	<h1>Demos</h1>
	<p>
		The demos give you some ideas as to how to use some of the server-side features of Kattegat.
	</p>
	<p>
		View the source, have a tinker and keep an eye on your browser's console and your server terminal.
	</p>
	<h2>Storage</h2>
	<p>
		<a href="store.html">Demo</a></p>
	<p>
		Put, get and remove data on the server. Keep track of data when users come and go, and survive browser or server restarts.
	</p>
	<h2>Realtime</h2>
	<p><a href="realtime.html">Demo</a></p>
	<p>
		Stream small events across different devices and users in realtime. Useful for ephemeral user interaction and sensor data that you don't want to accumulate.
	</p>
</body>
</html>
