<!DOCTYPE html>
<html>
<head>
	<title>Demos</title>
	<link rel='stylesheet' href='/bower_components/pure/pure-min.css'>
	<link rel='stylesheet' href='/base.css'>
</head>

<body>
	<h1>Demos</h1>
	<p>
		The demos give you some ideas as to how to use some of the server-side features of Kattegat.
	</p>
	<p>
		<em>Tip:</em> There are <a href="/dia-samples">a lot more samples of doing things with Javascript and Kattegat</a>. (<a href="https://github.com/ClintH/dia-samples">Read more</a>)
	</p>
	<p>
		View the source, have a tinker and keep an eye on your browser's console and your server terminal.
	</p>
	<h2>Storage</h2>
	<p>
		<a href="store.html">Demo</a></p>
	<p>
		Put, get and remove data on the server. Keep track of data when users come and go, and survive browser or server restarts.
	</p>
	<h2>Realtime</h2>
	<p><a href="realtime.html">Demo</a></p>
	<p>
		Stream small events across different devices and users in realtime. Useful for ephemeral user interaction and sensor data that you don't want to accumulate.
	</p>
	<h2>Plugins</h2>
	<p><a href="gspreadsheet.html">Google Spreadsheet</a></p>
	<p>
		Fetch data from a Google Spreadsheet, and be notified when new rows are added. <em>Pro-tip:</em> Use <a href="http://ifttt.com">IFTT</a> recipes to post to the spreadsheet, thereby connecting Kattegat up to all sorts of data sources.
	</p>
	
</body>
</html>
