<!DOCTYPE html>
<html>
<head>
	<title>Realtime demo</title>
	<link rel='stylesheet' href='/bower_components/pure/pure-min.css'>
	<link rel='stylesheet' href='/base.css'>

	<!-- Add in libraries -->
	<script src="/bower_components/libraries.js"></script>
		
	<!-- Add in demo JS (demos/realtime.js) -->
	<script src="realtime.js"></script>

	<!-- Add in Socket.io: this is needed for any realtime stuff -->
	<script src="/socket.io/socket.io.js"></script>
</head>

<body>
	<h1>Realtime demo</h1>
	<p>
		Demonstrates how to work with realtime data. View the source to see what's going on behind the scenes or <a href="https://github.com/ClintH/kattegat/blob/master/DOCS.md#realtime">read the documentation</a>.</p>
	<p>
		To fully grasp this demo, open it up in a second window to emulate two users. In this demo a messaging scenario is used, but data sent between clients can be any kind of simple data - eg sensor data.</p>
	<p>
		Kattegat uses <a href="http://socket.io/#how-to-use">Socket.io</a> for realtime data.</p>
	
	<p class="note">Note: Use your browser's console to see the results of your actions</p>
	
	<hr>
	<h2>Broadcasting</h2>
	<p>
		<a href="https://github.com/ClintH/kattegat/blob/master/DOCS.md#rt-bcast">Read the documentation</a></p>
	<p>
		Broadcasting data sends it to all other clients connected to your server. If you want to be more specific about who receives data, see the Rooms section.</p>
	<form class="pure-form">
		<fieldset>
			<label>From</label>
			<input name="name" placeholder="Name">
			
			<label>Message</label>
			<input name="msg" placeholder="Message">

			<button id="broadcastButton" class="pure-button pure-button-primary">Send</button>
		</fieldset>
	</form>

	<hr>
	<h2>Rooms</h2>
	<p>
		<a href="https://github.com/ClintH/kattegat/blob/master/DOCS.md#rt-rooms">Read the documentation</a></p>
	<p>
		'Rooms' can be joined or left. You're able to send data to a room, and when you've joined the room, you'll get all data sent to it as well. You can also find out who is in the room and receive events when users come and go.</p>
	<form class="pure-form">
		<fieldset>
			<label>Room name</label>
			<input name="room" placeholder="Room name">

			
			<label>Message</label>
			<input name="msg" placeholder="Message">
			<button id="roomMessageButton" class="pure-button pure-button-primary">Send to room</button>
			<br />
			<button id="roomJoinButton" class="pure-button">Join</button>
			<button id="roomLeaveButton" class="pure-button">Leave</button>
			<button id="roomListButton" class="pure-button">List</button>
			
		</fieldset>
	</form>
	<p>
		You can also get a list all rooms
		<button id="listRoomsButton" class="pure-button">List</button>
		</p>
	<hr>
	<h2>Associating data</h2>
	<p>
		<a href="https://github.com/ClintH/kattegat/blob/master/DOCS.md#rt-data">Read the documentation</a></p>
	<p>
		You can get or set key-value pairs that stays associated with the client's connection. When they disconnect, the data is lost. Also, the data is sent to other connected clients when they do a room 'list', and when a client joins/leaves a room.</p>
	<p>
		For data that changes frequently you should use the techniques in the broadcast and room-sending demos above.</p>
	<p>
		To play with this, have two demo windows open, and join them both to the same room. Set some data (eg key: colour, value: blue) on one window, and then do a room list on the other window.</p>
	<form class="pure-form">
		<fieldset>
			<label>Key</label>
			<input name="name" placeholder="Key">
			
			<label>Value</label>
			<input name="value" placeholder="Value of data">
			
			<button id="dataPutButton" class="pure-button">Set</button>
			<button id="dataGetButton" class="pure-button">Get</button>
		</fieldset>
	</form>
</body>
</html>
