<!DOCTYPE html>
<html><head>
	<title>Storage demo</title>
	<link rel='stylesheet' href='/bower_components/pure/pure-min.css'>
	<link rel='stylesheet' href='/base.css'>

	<!-- Add in libraries -->
	<script src="/bower_components/libraries.js"></script>
	
	<!-- Add in demo JS (demos/store.js) -->
	<script src="store.js"></script>
</head>

<!--
Not much happens in the HTML. 

Things to note:
* It's generally good to avoid using ids to refer to elements, because ids must be unique, and it can be tricky to track which ids are used previously. We use ids for the buttons, since there is only a handful, but for the input elements we use the name attribute. Look in the JS file to see how referencing them is different
* We use plain text and list input mechanisms. HTML offers a bunch of others as well
* I've grouped form elements within a label element, but this is not necessary.
-->
<body>
	<h1>Storage demo</h1>
	<p>Demonstrates how to work with remote storage. View the source to see more or <a href="https://github.com/ClintH/kattegat/blob/master/DOCS.md#storage">read the documentation</a></p>
	<p>Kattegat uses <a href="https://github.com/louischatriot/nedb">nedb</a> for storing data, so please read their docs for more information - especially on advanced querying.</p>
	<div class="note">Note: Use your browser's console to see the results of your actions</div>
	
	<hr>
	<h2>Inserting</h2>
	<p>
		<a href="https://github.com/ClintH/kattegat/blob/master/API.md#storage-inserting">Read the documentation</a></p>
	<button id="insertTest" class="pure-button">Insert test data</button>
	<form name="insertForm" class="pure-form pure-form-stacked">
		<fieldset>
			<label>Name</label>
			<input name="name" placeholder="Name">

			<label>Age</label>
			<input name="age" type="number" placeholder="Age">

			<label>Favourite Colour</label>
			<select name="colour">
				<option>Blue</option>
				<option>Red</option>
				<option>Green</option>
				<option>Yellow</option>
			</select>

			<button id="insertButton" type="submit" class="pure-button pure-button-primary">Insert</button>
			<p class="tip">
				After inserting a couple of entries, click 'Find All' below to see what you've added</p>
		</fieldset>
	</form>
	
	<hr>
	<h2>Getting data out again</h2>
	<p>
		<a href="https://github.com/ClintH/kattegat/blob/master/API.md#storage-get">read the documentation</a></p>
	<button id="findAllButton" class="pure-button">Find All</button>
	<form class="pure-form pure-form-stacked">
		<fieldset>
			<label>Names containing</label>
			<input name="q">
			<br />
			<button id="findSubstringButton" type="submit" class="pure-button pure-button-primary">Find</button>
		</fieldset>
	</form>
	
	<form class="pure-form pure-form-stacked">
		<fieldset>
			<label>Favourite colour</label>
			<select name="q">
				<option>Blue</option>
				<option>Red</option>
				<option>Green</option>
				<option>Yellow</option>
			</select>
			<br />
			<button id="findExactButton" type="submit" class="pure-button pure-button-primary">Find</button>
		</fieldset>
	</form>

	<form class="pure-form pure-form-stacked">
		<fieldset>
		<label>Age greater than</label>
		<input name="q" type="number" length="2">
		<br />
		<button id="findLogicButton" type="submit" class="pure-button pure-button-primary">Find</button>
		</fieldset>
	</form>

	<hr>
	<h2>Updating</h2>
	<p>
		<a href="https://github.com/ClintH/kattegat/blob/master/API.md#storage-put">read the documentation</a></p>
	<p>
		Updating allows you to change existing documents</p>
	<form class="pure-form pure-form-stacked">
		<fieldset>
			<label>Change those with name</label>
			<input name="nameOld" placeholder="Old name">

			<label>to this new name</label>
			<input name="nameNew" placeholder="New name">
			<br />
			<button id="updateButton" type="submit" class="pure-button pure-button-primary">Update</button>
			<p class="tip">After clicking 'Update', click 'Find All' below to get a fresh list</p>
		</fieldset>
	</form>
	
	<hr>
	<h2>Removing</h2>
	<p>
		<a href="https://github.com/ClintH/kattegat/blob/master/API.md#storage-del">read the documentation</a></p>
	<button id="removeAllButton" class="pure-button">Remove all</button>
	<form class="pure-form pure-form-stacked">
		<fieldset>
			<label>Remove those with name</label>
			<input name="q" placeholder="Name">
			<br />
			<button id="removeButton" type="submit" class="pure-button pure-button-primary">Remove</button>
		</fieldset>
	</form>
</body></html>
