html {
	padding: 1.5em;
	margin-left: 2em;
	margin-right: 2em;
	font-family: "Consolas", "Courier New", monospaced;
	background-color: #F3F3F3;
}

label {
	text-transform: uppercase;
	color: #939393;
}

h1 {
	color: #FF0080;
}

a:link {
 color: #058CFA;
}
a:visited {
	color: #208CE6;
}

.tip,.note {
	background-color: rgba(255,255,205,0.5);
	padding: 1em;
}

.note {
	font-weight: bold;
}