<!DOCTYPE html>
<html><head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, target-densitydpi=device-dpi">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<title><%= appName %></title>
	<link rel='stylesheet' href='/bower_components/pure/pure-min.css'>
	<link rel='stylesheet' href='/base.css'>
</head>
<body>
	<h1><%= appName %></h1>
	<p>
		This is a Kattegat app running on your computer. Kattegat aims to provide a little extra <em>oomphf</em> for your interaction design prototypes.</p>
	<p>
		Have a look at some <a href="demos/">demos</a>, <a href="dia-samples/">interactivity samples</a> the <a href="template/">template</a> or <a href="https://github.com/ClintH/kattegat/blob/master/README.md">read more</a>.</p>
	<p>
		The demos and samples are a useful place to test things out and steal snippets of code - just remember to view the source, and always keep the Javascript console open!</p>
</body></html>
