<!DOCTYPE html>
<html>
<head>
	<!-- Makes the page a bit more mobile-friendly -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, target-densitydpi=device-dpi">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<title>Template page</title>
	
	<!-- Reference the base stylesheet -->
	<link rel='stylesheet' href='/css/style.css'>

</head>
<body>
	<h1>Template page</h1>
	<p>Oh hai, this is the template file.</p>
	<p>Make a copy of this file and use it as the basis for your hacking. It shows you how to reference the included JS libraries, reference your own JS files and how to link to a resource.</p>
	<p>This is how we reference an image: <img src="/images/test.png">
	<p>And this is a button that is wired up in a test Javascript file <button id="clickMe">Click me!</button> (you should get an alert box)</p>
</body>


<!-- SCRIPT REFERENCING -->
<!-- This enables the live reloading magic -->
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js"></' + 'script>')</script>

<!-- This references all the included Javascript libraries -->
<script src="js/jquery/jquery.min.js"></script>
<script src="js/lodash/dist/lodash.min.js"></script>
<script src="js/pointerevents-polyfill/pointerevents.min.js"></script>

<!-- And here we pull in a Javascript file for this page -->
<script src="js/template.js"></script>
</html>
